body{
  font-family: Arial, sans-serif;
  background-color: #f5dlea;
  margin: 0;
  padding: 0;  
}

.container{
text-align: center;
  margin-top: 50px;
}

h1{
  color: #e170bd;
  text-transform: uppercase;
}

h2{
  color: #e170bd;
  font-weight: bold;
}

.contador{
  font-size: 36px;
  color: #e3accf;
  margin-top: 20px;
  font-weight: bold;
}

.imagem {
  width: 200px;
  height: 150px;
  border: 1px solid #black;
}